.vehicle-display-table {
    width: 100%;
    border: 1px solid #999;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
}
.vehicle-display-table td, th {
    padding: 0.3em;
    border-bottom: 1px solid #999;
    width: 25%;
}

.vehicle-display-table .odd-row {
    background: #D1D1D1;
}

.vehicle-display-table th{
    background: #000000;
    color: #FFFFFF;
}